/* universal selector */
/* *{
    color: red;
    font-size: 20px;
}

/* tag / element selector */
h1{
    color: green;
    text-align: center;
}

/* attribute selector */
a[title="google"]{
    color: blue;
    letter-spacing: 10px;
} 

#idOne{
    color: brown;
}

.classOne{
    color: brown;
    line-height: 30px;
    text-indent: 40px;
    text-transform: uppercase;
    word-spacing: 10px;
}

/* decented selector */
.desc a{
    color: red;
    text-decoration: none;
}

.child > a{
    color:green;
}

/* pseudo selector */
/* : link */
a:link{
    color: red;
}
a:hover{
    color: green;
    letter-spacing: 20px;
}
a:active{
    color: yellow;
}
a:visited{
    color:brown;
}
/* target */
p:target{
    color: red;
    border: 2px solid black;
}

