* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    
    
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0px 70px;
   
}
.navbar{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    align-items: center;
    background-color: black;
    color: #ccc;
  
  
  }
  
  .nav-menu ul{
    display: grid;
    grid-template-columns: repeat(4,auto);
    justify-content: end;
    gap: 10px;
  }
  
  .nav-menu ul li{
    list-style-type: none ;
  }
  
  .nav-menu ul li a{
    text-decoration: none;
    color: #cda454;
    padding: 15px ;
    font-size: 20px;
  
  }
main {
    padding: 20px;
}

.movie {
    background: #fff;
    border: 1px solid #ccc;
    margin: 20px 0;
    padding: 10px;
    text-align: center;
}

.movie img {
    max-width: 100%;
    height: auto;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}


.movie-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1000px;
    margin: auto;
}

.movie {
    background-color: #333;
    padding: 10px;
    border-radius: 10px;
    transition: transform 0.3s;
}

.movie img {
    width: 100%;
    border-radius: 5px;
}

.movie:hover {
    transform: scale(1.05);
}

/* footer */
.footer{
    background-color: black;
    padding: 50px 0;
    text-align: center;
}
.footer-title{
    font-weight: bold;

}
.dev{
    color: #cda45e;
    text-decoration: none;
    font-weight: bold;

}

